@using Autoshop.Models.Autoshop
@model IEnumerable<Car>

@{
    ViewBag.Title = "Каталог";
}

@foreach (Car p in Model)
{
    <div class="car">
        <h2 class="car-label">@p.Label</h2>
        <div class="price"><span class="item-lable">Цена:</span> @p.Price руб.</div>
        <div class="balance"><span class="item-lable">Остаток:</span> @p.Balance</div>
        <div class="more-link-wrap">
            <a href="@Url.Action("car", "autoshop", new { id = p.Id })" class="more-link">Подробнее...</a>
        </div>
    </div>
}
