@using ComputerShop.Models.Catalog
@model IEnumerable<Article>

@{
    ViewBag.Title = "Каталог";
}

@foreach (Article a in Model)
{

    <div class="article-wrap">
        @Html.Partial("ArticleType/" + @a.GetType().Name, a)
    </div>
}